<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quizzes home page.</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="js/jquery-1.6.2.min.js"></script>
    <script src="js/custom.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="card mb-4 mt-4">
        <div class="card-body">
            <h5 class="card-title">List Quizzes.</h5>
            <p class="card-text">
                A quiz is a form of game or mind sport, in which the players (as individuals or in teams) attempt to answer questions correctly. It is a game to test your knowledge about a certain subject. In some countries, a quiz is also a brief assessment used in education and similar fields to measure growth in knowledge, abilities, and/or skills.
            </p>
            <p id="submit" class="cursor-pointer btn btn-lg btn-primary card-link float-right">Add quiz</p>
        </div>
      </div>
      <div class="list-group">
          <% quizzes.forEach(quizz => { %>
            <div class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= `${quizz.name}` %></h5>
                  <small class="text-muted">
                    <a title="Show details" href="/show/<%= `${quizz._id}` %>" class="btn btn-outline-primary card-link float-right">View</a>
                    <a title="Remove entry" href="/remove?id=<%= `${quizz._id}` %>" class="btn btn-outline-primary mr-1 card-link float-right">Del</a>
                  </small>
              </div>
              <p class="mb-1"><%= `${quizz.description}` %></p>
            </div>
          <% }); %>
        </div>
        <div id="customForm" class="form card">
          <div class="card-body">
            <div class="form-group">
              <label >Quizz name</label>
              <input class="form-control" id="quizzName" placeholder="Enter name" value="" required>
            </div>
            <div class="form-group">
              <label >Quizz description</label>
              <textarea class="form-control" id="quizzDescription" placeholder="Enter description" required></textarea>
            </div>
            <div id="addForm" class="cursor-pointer btn btn-outline-primary mr-1 card-link float-left mb-2">Add</div>
            <div id="closeForm" class="cursor-pointer btn btn-outline-primary card-link float-right mb-2">close</div>
          </div>
        </div>
      <!-- <fieldset>
        <form action="/" method="post">
          <input name="name" type="text" class="ghost-input" placeholder="Enter a quizz name" required>
          <input name="description" type="text" class="ghost-input" placeholder="Enter a quizz name" required>
          <input type="submit" class="ghost-button" value="add quizz">
        </form>
      </fieldset> -->
    </div>
  </body>
</html>